/*containers*/
header {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px;
}
header * {
  display: inline;
}
div.title {
  z-index: 1;
}
section {
  margin: 40px
}
section.order-here {
  border: dashed 1px burlywood;
  padding: 20px;
  border-radius: 10px;
}
article {
  max-width: 800px;
}
div.bg-img {
  padding: 10vw;
  background-size: cover;
}
div.bg-img.pie1 {
  background-image: url(../img/pie1.jpg);
  background-position: 0% 17%;
}
div.bg-img.pie2 {
  background-image: url(../img/pie2.jpg);
  background-position: 0 72%;
}
footer {
  display: block;
  padding: 40px;
}
@media #{$tablet} {
  footer {
    display: grid;
    grid-template: 1fr / 200px 1fr;
    grid-gap: 20px;
  }
}
@media #{$desktop} {
  header {
    margin: 20px;
  }
}
